.elements {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 20px 17px;
  padding-top: 50px;
  min-height: 35vh;
}

@media screen and (max-width: 890px) {
  .elements {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 600px) {
  .elements {
    grid-template-columns: repeat(1, 282px);
    padding-top: 36px;
  }
}