.popup__container-input-error {
  font-family: 'inter', Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: 400;
  color: #f00;
  text-align: start;
  display: block;
  min-height: 30px;
}