.login {
  width: 358px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  border: none;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .login {
    width: 260px;
    font-size: 14px;
    line-height: 17px;
  }
}