.profile {
  max-width: 880px;
  width: 100%;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 890px) {
  .profile {
    width: 90%;
  }
}

@media screen and (max-width: 750px) {
  .profile {
    width: 88%;
    flex-direction: column;
    padding-top: 43px;
  }
}