.login__input {
  width: 100%;
  font-family: 'inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-top: 27px;
}

.login__input:first-of-type {
  margin-top: 47px;
}

@media screen and (max-width: 600px) {
  .login__input:first-of-type {
    margin-top: 71px;
  }
}