.element__like {
  width: 22px;
  height: 19px;
  border: none;
  box-sizing: border-box;
  padding: 0;
  align-self: center;
  background-color: #fff;
  transition: opacity .5s;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .5s;
}